.clear_both{
    clear: both;
}

.dendrogram{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.dendrogram .text{
    width: 80px;height: 30px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;
}

.dendrogram .text:nth-child(2){
    border-left: 1px solid #e5e5e5;
}

.dendrogram-icon{
    display: inline;
    width: 14px;
    height: 14px;
    position: relative;
    top:13px;
    left: 3px;
}

.dendrogram-button {
    cursor: pointer;
    height:40px;padding: 0 10px;float: left;
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: .875rem;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border-color;
}

.dendrogram-button:hover{
    border: 1px solid #bababa;
}

.dendrogram-adjacency-branch{
    border-left:1px solid #c6c6c6;margin-left: 1em;
}

.dendrogram-adjacency-line{
    border-top:1px solid #c6c6c6;float: left;width: 30px;margin-left: -30px;margin-top: 20px;
}

.dendrogram-adjacency-retract{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #1e87f0;
    border-radius:10px 0 0 10px;
}

.dendrogram-adjacency-ban{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #000000;
    border-radius:10px 0 0 10px;
}

.dendrogram-adjacency-grow{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #1e87f0;
    border-radius:0 10px 10px 0;
}
.dendrogram-adjacency-retract:hover,.dendrogram-adjacency-grow:hover{
    background-color: #0f7ae5;
}

.dendrogram-adjacency-list {
    padding: 0;
    list-style: none;
}

.dendrogram-adjacency-list>li>ul {
    margin-top: 10px;
}

.dendrogram-adjacency-list ul {
    margin-top: 10px;
    padding-left: 30px;
    list-style: none;
}

.dendrogram-adjacency-list li:nth-child(n+2){
    margin-top: 10px;
}

/*anime*/
.dendrogram-animation-fade {
    animation-name: dendrogram-fade;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

.dendrogram-animation-reverse {
    animation-name: dendrogram-fade-top-small;
    animation-duration: .5s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.dendrogram-animation-slide-top-small{
    animation-name: dendrogram-fade-top-small;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

/*
 * Fade
 */
@keyframes dendrogram-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
 * Slide Top Small
 */
@keyframes dendrogram-fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

