.clear_both{
    clear: both;
}
html{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;font-size: 14px;}
.dendrogram a{
    font-size: 14px !important;
}

.dendrogram svg{
    vertical-align: middle !important;
}

.dendrogram .text{
    width: 80px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.dendrogram .text:nth-child(2){
    border-left: 1px solid #e5e5e5;
}

.dendrogram-icon{
    display: inline;
    line-height: 38px !important;
    padding-left: 3px;
}

.dendrogram-button {
    line-height: 60px !important;
    cursor: pointer;
    height:40px;padding: 0 10px;float: left;
    background-color: transparent;
    color: #222;
    border: 1px solid #e5e5e5;
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: .875rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border-color;
}

.dendrogram-button:hover{
    border: 1px solid #bababa;
}

.dendrogram-tab{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #1e87f0;
    border-radius:10px 0 0 10px;
}

.dendrogram-ban{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #000000;
    border-radius:10px 0 0 10px;
}

.dendrogram-grow{
    float: left;
    display: block;
    width: 20px;
    height: 40px;
    background-color: #1e87f0;
    border-radius:0 10px 10px 0;
}

/* Hover + Focus */
.dendrogram-tab:hover,
.dendrogram-tab:focus,
.dendrogram-grow:hover,
.dendrogram-grow:focus {
    background-color: #0f7ae5;
    color: #fff;
}
/* OnClick + Active */
.dendrogram-tab:active,
.dendrogram-grow:active {
    background-color: #0e6dcd;
    color: #fff;
}

/*adjacency*/
.dendrogram-adjacency-node{
    position: relative;
    z-index: 1;
}

.dendrogram-adjacency-branch{
    border-left:1px solid #c6c6c6;margin-left: 1em;
    position: relative;
    top: -20px;
}

.dendrogram-adjacency-branch>li{
    position: relative;
    top: 20px;
}

.dendrogram-adjacency-node:before{
    display: inline-block;
    content: "";
    border-top:1px solid #c6c6c6;
    float: left;
    width: 30px;
    margin-left: -30px;
    margin-top: 20px;
}

.dendrogram-adjacency-tab:hover,.dendrogram-adjacency-grow:hover{
    background-color: #0f7ae5;
}

.dendrogram-adjacency-list {
    padding: 0;
    list-style: none;
}

.dendrogram-adjacency-list>li>ul {
    margin-top: 10px;
}

.dendrogram-adjacency-list ul {
    margin-top: 10px;
    padding-left: 30px;
    list-style: none;
}

.dendrogram-adjacency-list li:nth-child(n+2){
    margin-top: 10px;
}

/*nested*/
.dendrogram-nested>ul ul{
    padding: 20px 0 0 0;
    position: relative;
}

.dendrogram-nested li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.dendrogram-nested li::before, .dendrogram-nested li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #ccc;
    width: 50%; height: 20px;
}
.dendrogram-nested li::after{
    right: auto; left: 50%;
    border-left: 1px solid #ccc;
}

.dendrogram-nested li:only-child::after, .dendrogram-nested li:only-child::before {
    display: none;
}

.dendrogram-nested li:only-child{ padding-top: 0;}

.dendrogram-nested li:first-child::before, .dendrogram-nested li:last-child::after{
    border: 0 none;
}

.dendrogram-nested li:last-child::before{
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.dendrogram-nested li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.dendrogram-nested ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #ccc;
    width: 0; height: 20px;
}

.dendrogram-nested-branch{
    display: inline-block;
}

.dendrogram-nested .dendrogram-icon{
    left: 0;
}

/*anime*/
.dendrogram-animation-fade {
    animation-name: dendrogram-fade;
    animation-duration: 0.8s;
    animation-timing-function: linear;
}

.dendrogram-animation-reverse {
    animation-name: dendrogram-fade-top-small;
    animation-duration: .2s;
    animation-direction: reverse;
    animation-timing-function: ease-in;
}

.dendrogram-animation-slide-top-small{
    animation-name: dendrogram-fade-top-small;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

#mongolia{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 15px 15px;
    background: rgba(0,0,0,.6);
    opacity: 0;
    transition: opacity .15s linear;
}

#dendrogram-form{
    z-index: 10000;
    visibility: hidden;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 300px);
    box-sizing: border-box;
    width: 600px;
    max-width: calc(100% - 0.01px) !important;
    background: #fff;
    opacity: 0;
    transform: translateY(-100px);
    transition: .3s linear;
    transition-property: opacity,transform;
}

#dendrogram-form-close{
    cursor: pointer!important;
    position: absolute;
    z-index: 1010;
    top: 10px;
    right: 10px;
    padding: 5px;
    margin: 0;
    border: none;
    border-radius: 0;
    overflow: visible;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    display: inline-block;
    fill: currentcolor;
    line-height: 0;
}

.dendrogram-form-header{
    padding: 15px 30px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.dendrogram-form-header h2{
    font-size: 20px;
    line-height: 1.3;
    margin: 0;
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 100;
    color: #222;
    text-transform: none;
}

.dendrogram-form-body{
    padding: 30px;
}

.dendrogram-form-footer{
    text-align: right !important;
    padding: 15px 30px;
    background: #fff;
    border-top: 1px solid #e5e5e5;
}

.dendrogram-form-delete{
    cursor: pointer!important;
    background-color: #f0506e;
    color: #fff!important;
    border: 1px solid transparent!important;
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}

/* Hover + Focus */
.dendrogram-form-delete:hover,
.dendrogram-form-delete:focus {
    background-color: #ee395b;
    color: #fff;
}
/* OnClick + Active */
.dendrogram-form-delete:active{
    background-color: #ec2147;
    color: #fff;
}

.dendrogram-form-conserve{
    cursor: pointer!important;
    background-color: #1e87f0;
    color: #fff!important;
    border: 1px solid transparent!important;
    margin: 0;
    overflow: visible;
    font: inherit;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    vertical-align: middle;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: color,background-color,border-color;
}

.dendrogram-form-conserve:hover,.dendrogram-form-conserve:focus{
    background-color:#0f7ae5;
    color:#fff;
}
.dendrogram-form-conserve:active{
    background-color:#0e6dcd;
    color:#fff;
}

.dendrogram-input{
    margin-top: 0;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    padding: 0 10px;
    background: #fff;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: border;
    box-sizing: border-box;
    border-radius: 0;
    font: inherit;
}

.dendrogram-input:nth-child(n+2){
    margin-top: 20px;
}

.dendrogram-input:focus{
    outline: none;
    background-color: #fff;
    color: #666;
    border-color: #1e87f0;
}
/*
 * Fade
 */
@keyframes dendrogram-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*
 * Slide Top Small
 */
@keyframes dendrogram-fade-top-small {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

